@use 'sass:math';

@mixin font-size-rythm($sizeValue: 12) {
  font-size: $sizeValue + px; //fallback for old browsers
  font-size: (0.0625 * $sizeValue) + rem;
}

@mixin line-height-rythm($heightValue: 20) {
  line-height: $heightValue + px; //fallback for old browsers
  line-height: (0.0625 * $heightValue) + rem;
}

@mixin rhythm($sizeValue: 12, $heightValue: 20) {
  @include font-size-rythm($sizeValue);
  @include line-height-rythm($heightValue);
}

@function line-height($typesize, $lineheight) {
  @if type-of($typesize) == 'number' and not unitless($typesize) {
    @return math.div($typesize, ($typesize * 0 + 1));
  }

  @if type-of($lineheight) == 'number' and not unitless($lineheight) {
    @return math.div($lineheight, ($lineheight * 0 + 1));
  }
  $result: math.div(100, $typesize * $lineheight);

  @return $result;
}
